/*RESET*/
* {
  box-sizing: border-box; /* quand on ajoute des marges ca change pas, a faire tjrs*/
  margin: 0; /* pour start avec 0 marges*/
  padding: 0;
}
:root {
  --primary-color: #176087;

  --dark-color: #1a1a1a;
  --black-color: #000;
  --not-so-black-color: #0c0c0c;
  --dark-gray-color: #1f1f1f;
  --very-dark-gray-color: #151515;
  /*--less-dark-color: #2c2c2c;*/
  --less-dark-color: rgb(44, 44, 44, 0.5);
  --less-dark-color-2: rgb(6, 7, 5, 0.4);

  --border-color: #232323;
  --border-color-2: #5e5e5e;

  --bg-couleur-1: #343d44;
  --bg-couleur-2: #334c5f;
  --light-color: #e0e7f5;

  --font-light: #f6f6f6;
  --font-couleur-1: #d7d7f2;
  --font-couleur-2: #9292f3;
  --font-couleur-3: #5959cb;
  --font-couleur-4: #c0c0d5;
  --font-couleur-5: #9797e8;
  --font-couleur-6: #9797e0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  background-color: var(
    --dark-gray-color
  ); /* Changez la couleur pour correspondre au footer */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal accidentel */
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: none; /* take away underline (pas souligner les liens)*/
  /*color: #000;*/
}
ul {
  list-style: none; /* pour pas de bullet point*/
}
img {
  max-width: 100%; /* stay contain 100%*/
}
.logo {
  width: 120px;
}

/* #################################################################################### */
/* ############################## Navigation bar ###################################### */
/* #################################################################################### */
/* Nav bar*/
.navbar {
  top: 0;
  width: 100%;
  background-color: var(--not-so-black-color);
  padding: 20px 40px 20px 40px;
  z-index: 1000;
  position: fixed;
}
.navbar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  align-items: center;
}
.navbar .link-icon-tab ul {
  display: flex;
  justify-content: flex-end; /* Aligne tous les icônes à droite */
  gap: 25px; /* Espace entre les icônes */
  padding: 0;
  margin: 0;
  align-items: center;
}
.navbar .link-icon-tab li {
  display: inline-block;
}
.navbar .link-icon-tab a {
  color: var(--light-color); /* Couleur par défaut des icônes */
  font-size: 1.5rem; /* Taille des icônes */
  transition: color 0.3s ease-in-out; /* Transition douce pour le hover */
}
.navbar .link-icon-tab a:hover {
  color: var(--font-couleur-3); /* Change la couleur au survol */
}

/* #################################################################################### */
/* ############################## Project Section ##################################### */
/* #################################################################################### */
/* --------------------------------------------------------------------------------------------- */
/* Header */
.project-header {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 250px;
  height: 590px;
}
.project-header .header-heading {
  color: var(--font-couleur-4);
  padding-bottom: 15px;
}
.bold-color-text {
  color: var(--font-couleur-6);
}
.project-header .header-subheading {
  color: var(--font-couleur-5);
  font-weight: 500;
  padding-bottom: 30px;
}
.project-header .project-header-content {
  width: 90%;
}
/* Body */
.project-body {
  background-color: var(--dark-gray-color);
  padding-top: 30px;
}
.project-body h3 {
  color: var(--font-couleur-3);
  padding-bottom: 15px;
  font-weight: 600;
}
.project-body .project-list {
  margin-top: 20px;
  list-style-type: disc;
  padding: 0 15px;
  padding-bottom: 50px;
}
.project-body .project-list li {
  color: var(--font-couleur-1);
  padding-bottom: 15px;
}
.project-body .project-body-image {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; /* Centre l'image horizontalement dans le conteneur */
  overflow: hidden; /* Cache les coins de l'image qui dépassent les bords arrondis */
  padding-bottom: 60px;
}
.project-body .project-body-image img {
  width: 100%; /* L'image occupe toute la largeur du conteneur */
  height: auto; /* Conserve les proportions de l'image */
  display: block; /* Évite les marges indésirables autour de l'image */
  border-radius: 15px;
}
.project-1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg01.png") center/cover no-repeat fixed;
  height: 590px;
}
.project-2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg02.jpeg") center/cover no-repeat fixed;
  height: 590px;
}
.project-3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg03.png") center/cover no-repeat fixed;
  height: 590px;
}
.project-4 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg04.PNG") center/cover no-repeat fixed;
  height: 590px;
}
.project-5 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg05.jpg") center/cover no-repeat fixed;
  height: 590px;
}
.project-6 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg06.jpg") center/cover no-repeat fixed;
  height: 590px;
}
.project-7 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg07.png") center/cover no-repeat fixed;
  height: 590px;
}
.project-8 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      var(--dark-gray-color) 100%
    ),
    url("../assets/images/bg08.PNG") center/cover no-repeat fixed;
  height: 590px;
}
/* --------------------------------------------------------------------------------------------- */
/* My body */

/* #################################################################################### */
/* ############################## Carrousel Section ################################### */
/* #################################################################################### */
/* Carousel Styling */
.carousel-section {
  padding-top: 40px;
  text-align: center;
  background-color: var(--dark-gray-color);
}
.carousel-section h3 {
  padding-bottom: 20px;
  color: var(--font-couleur-4);
}
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
}
.carousel-track {
  margin: 20px;
  display: flex;
  transition: transform 0.5s ease;
  gap: 40px;
}
.work-card {
  min-width: 400px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-button {
  background-color: var(--light-color);
  border: none;
  color: var(--font-couleur-3);
  height: 80px;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.carousel-button:hover {
  background-color: var(--very-dark-gray-color);
  color: var(--font-couleur-1);
  transition: all 0.2s ease-in-out; /* Transition pour le texte et la taille */
}
.carousel-button.left {
  left: 10px;
}
.carousel-button.right {
  right: 10px;
}
.carousel-track .work-card.card-1 {
  background-image: url("../assets/images/Projet-1.png");
}
.carousel-track .work-card.card-2 {
  background-image: url("../assets/images/Projet-2.png");
}
.carousel-track .work-card.card-3 {
  background-image: url("../assets/images/Projet-3.png");
}
.carousel-track .work-card.card-4 {
  background-image: url("../assets/images/Projet-4.PNG");
}
.carousel-track .work-card.card-5 {
  background-image: url("../assets/images/Projet-5.jpg");
}
.carousel-track .work-card.card-6 {
  background-image: url("../assets/images/Projet-6.png");
}
.carousel-track .work-card.card-7 {
  background-image: url("../assets/images/Projet-7.png");
}
.carousel-track .work-card.card-8 {
  background-image: url("../assets/images/Projet-8.PNG");
}

/* #################################################################################### */
/* #################################### Footer ######################################## */
/* #################################################################################### */
/* Footer section styling */
.footer {
  padding: 100px 20px 5px 20px;
  background-color: var(
    --dark-gray-color
  ); /* Adjust background color if needed */
  color: var(--font-couleur-4);
  text-align: center;
}
.footer .footer-line {
  width: 90%; /* Adjust width to control start and end margins */
  height: 2px;
  background-color: var(--border-color-2); /* Light grey color for line */
  margin: 0 auto 30px auto; /* Centered with margin below */
  border-radius: 1px;
}
/* Footer text styling */
.footer .footer-text {
  margin-top: 50px;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* Footer icon section */
.footer .link-icon-tab ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}
.footer .link-icon-tab a {
  font-size: 1.8rem;
  color: #ffffff; /* Icons in white */
  transition: color 0.3s ease;
}
.footer .link-icon-tab a:hover {
  color: var(--font-couleur-3); /* Change color on hover */
}
/* Copyright section */
.footer .footer-copyright {
  font-size: 0.9rem;
  font-style: italic;
  color: #9898a2; /* Light grey for subtlety */
  margin-top: 60px;
  bottom: 5px;
}

/* #################################################################################### */
/* ############################### Utility Classes #################################### */
/* #################################################################################### */
/* Container classes*/
.container {
  max-width: 1200px;
  margin: 0 auto; /* top and bottom 0 but left and right be auto in middle*/
  padding: 0 30px; /* top and bottom 0 but left and right be 15px*/
}
.container-sm {
  max-width: 1000px;
  margin: 0 auto; /* top and bottom 0 but left and right be auto in middle*/
  padding: 0 15px; /* top and bottom 0 but left and right be 15px*/
}
.container-lg {
  max-width: 1400px;
  margin: 0 auto; /* top and bottom 0 but left and right be auto in middle*/
  padding: 0 10px; /* top and bottom 0 but left and right be 15px*/
}

/* ------------------------------------------------ */
/* Card */
.card {
  position: relative;
  background: var(--very-dark-gray-color);
  color: var(--font-couleur-4);
  border-radius: 15px;
  padding: 25px;
}
.card h3 {
  margin-top: 10px;
  padding-left: 10px;
  /*text-align: center;*/
  font-size: 1.2rem;
  line-height: 1.4;
  min-height: 60px; /* Ensure consistent height for titles */
}
.card p {
  flex-grow: 1; /* Make paragraph take up available space */
  margin-bottom: 90px; /* Space for Learn More */
  padding-left: 10px;
  padding-right: 10px;
  /*text-align: center;*/
  font-size: 1rem;
}
/* Individual work card style */
.work-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  min-height: 200px;
  padding: 20px;
  color: var(--font-light);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.work-card:hover {
  transform: scale(1.05); /* Enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow on hover */
  cursor: pointer;
}
/* Title inside the card */
.work-card .work-card-title {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--very-dark-gray-color);
  padding: 5px 10px;
  border-radius: 5px;
}

/* ------------------------------------------------ */
/* Text Classes */
.text-xxl {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 30px 0 10px;
}
.text-md {
  color: var(--font-couleur-1);
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 0px;
}
.bold-text {
  color: var(--font-couleur-4);
}
.software-text {
  color: var(--font-couleur-3);
}
/* ------------------------------------------------ */
/* Affichage des pages */
.project-section {
  display: none; /* Cache toutes les sections principales par défaut */
}
.active-project-section {
  display: block; /* Affiche uniquement la section principale active */
}
.sep-line {
  width: 40%; /* Adjust width to control start and end margins */
  height: 2px;
  background-color: var(--border-color-2); /* Light grey color for line */
  margin: 0 auto 30px auto; /* Centered with margin below */
  border-radius: 1px;
}

/* #################################################################################### */
/* ############################### Mobile Section ##################################### */
/* #################################################################################### */
/* ------------------------------------------------ */
/* Hamburger Button*/
.home-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  position: absolute; /* Assure que le bouton est positionné indépendamment */
  right: 20px; /* Positionne le bouton à droite de l'écran */
  top: 20px; /* Aligne le bouton en hauteur avec le contenu de la navbar */
}
.home-button a {
  font-size: 1.5rem;
  color: var(--font-light);
}

/* Media Queries*/
/* allow to add specifics CSS to specifics devices or different ranges of screen sizes*/

/*only show below the specified width */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 1.8rem;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }
  .navbar .link-icon-tab {
    display: none;
  }
  .navbar .home-button {
    display: block;
  }

  /* ################################ PROJECTS */
  .project-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
    height: 100%;
  }
  .project-body {
    padding-top: 40px;
  }
  .project-header .project-header-content {
    width: 100%;
  }
  .project-body .container-sm {
    padding: 40px 15px 10px 15px;
  }

  /* Footer */
  .footer .footer-text {
    font-size: 1.2rem;
  }

  .footer .text-md {
    font-size: 1rem;
  }
  /* Text */
  .text-xl {
    font-size: 1.9rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.1rem;
  }

  /* Carrousel*/
  .work-card {
    min-width: 340px;
  }
  .carousel-button {
    transform: translateY(-50%);
  }
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 1.7rem;
  }
  .text-lg {
    font-size: 1rem;
  }
  .text-md {
    font-size: 0.9rem;
  }
}
